<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeatDrop</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <h1>BeatDrop</h1>
    <a href="http://localhost:8080/test" class="button" submit="POST">Download ALL</a><br>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    {% if soundcloudAccessToken %}
    <script>var SOUNDCLOUDTOKEN = '{{ soundcloudAccessToken }}'</script>
    {% endif %}
    <script src="front-end.js"></script>
     <script src="front-end-funcs.js"></script>

</body>
</html>