body {
    font-family: Impact;
}

.container {
  max-width: 80%;
}

.btn.btn-primary.btn-lg.download {
    padding: 15px;
    margin: auto;
}

.track {
    padding: 15px;
    margin: 15px;
}
/*a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: blue;
    padding: 10px;
    margin: 10px;
}*/